.header {
  background-color: $lightblue;
  position: relative;

  &__inner {
    margin: 0 10px;
    display: flex;
    justify-content: space-between;
  }
}

// Logo / Company Name
#logo {
  margin-top: 3px;
  font-size: 18px;
  line-height: 1.4;

  span {
    font-size: 8px;
    line-height: 1;
    text-transform: uppercase;
    display: block;
    margin-bottom: 8px;
  }
}


// Hamburger menu
.hamburger {
  margin-top: 2px;
  &:focus {
    outline: none;
  }
}

// Navigation
#navMenu {
  display: none;
  position: absolute;
  z-index: 2;
  left: auto;
  right: 0;
  top: 100%;
  bottom: auto;
  width: 140px;
  background-color: $lightblue;
  border-top: 1px solid $darkblue;

  /* Add slide to menu */
    // transform: translateX(-200px);
    // transition: transform 400ms ease-in-out;

  // Toggle w/ Javascript
  &.showNav {
    display: block;
    /* Add slide to menu */
    //  transform: translateX(0);
  }

  .menu {
    li {
      padding: 3px 6px 4px 6px;
      border-bottom: 1px solid $blue;

      a {
        font-size: 12px;
        color: $white;
        transition: color ease 100ms;

        &:hover {
          color: $yellow;
        }
      }
    }
  }
}


// Sticky Header
  .header--sticky {
    display: none;
    position: sticky;
    top: 0;
    z-index: 2;
    width: 100%;
    background-color: $yellow;
    transition: transform 100ms ease;
    transform: translateY(-50px);


    &.show {
      display: block;
      transform: translateY(0px);
    }

    #logo {
      margin-bottom: 4px;
    }

    // Callout Button
    .button {
      background-color: $darkblue;
      color: $white;
      line-height: 32px;
      padding: 0 8px;
      transition: background-color 100ms ease;

      &:hover {
        background-color: rgba($darkblue, 0.9);
      }
    }

  }