// Careers page (archive) - .page-id-11
.current-careers {
  margin-top: 40px;
}
.careers-list {

}
.career {
  margin: 20px 0;

  &__title {
    font-size: 15px;
  }
  &__content {
    font-size: 14px;
  }
}
